

/* font style from google */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,500;0,600;1,200&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}

/* header or nav section start hare */
nav{
    height: 125px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.logo-container{
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
}
.logo-container img{

    width: 80px;
    height: 40px;
}
.logo-container p {
    margin-left: 10px;
    text-align: center;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-title{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item{
    display: flex;
    gap: 20px;

}
.nav-item a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 500;
}
.fa-youtube{
    color: red;
}
/* end nav bar section */


/* banner section start */

.banner-container{
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-text{
    text-align: center;

}

.banner-img img{
    width: 75%;
    height: 75%;
}
.banner-text h4{
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    }
.banner-text h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.banner-btn1{
    border: none;
    display: inline-flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.1rem;  
 }
.banner-btn2{
    border: none;
    display: inline-flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.1rem;     
}

/* banner section end  */

        /* header section end */


/* main section start hare */

.online-game-container{
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    gap: 100px;
}
.online-game-content h1{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    
}
.online-title{
    text-align: right;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-content p{
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
.game-picture img{
    width: 80%;
    margin-left: 80px;
}

.catty-image img{
    border-radius: 10px;
    border: 5px solid rgb(204, 204, 204);
    width: 30%;
    height: 30%;
    margin: 0;
    margin-bottom: -140px;
    position: relative;
    bottom: 200px;

}
/* online game section start hare */

.games-container{
    text-align: center;
}
.games-container h1{
    color: #0B0223;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 700;
}

.games-container p{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    }

.grid-container{
    display: grid;
    max-width: 1200px;
    margin: 50px auto 0px;
    min-height: 300px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.games-brand{
  
    width: 95%;
    border-radius: 16px;
}
.games-brand img{
    width: 100%;
    /* display: block; */
    margin: 0 auto;

}

.games-brand p{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}




















/*Responsive for small device  */

@media screen and (max-width: 576px) {

    .nav-container  {
        flex-direction: column;
        
    } 
    .nav-container a{
        flex-direction: column;
        font-size: 1.24rem;

    }
    .banner-container{
        flex-direction: column-reverse;
        margin-left: 0px;
       
    }

    .banner-img img{
        padding-top: 20px;
        width: 100%;


    }
    .online-game-container{
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-left: 0px;
    }

.online-game-content p{
    text-align: center;
}



.game-picture img{
    width: 80%;
    margin-left: 0px;
}
.catty-image img{
    width: 30%;
    height: 30%;
    margin-top: 130px;
    margin-right: 250px;
}

.grid-container{

    grid-template-columns:  1fr;
}


}







/* Responsive for medium device */

@media screen and (min-width:577px) and (max-width:992px) { 
    .nav-container{
        margin-left: 50px;
        margin-right: 50px;
    }

    .banner-container{
        flex-direction: column-reverse;
        margin-left: 0px;
    }

    .banner-img img{
        width: 100%;

    }

    .online-game-container{
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-left: 0px;


}

.catty-image img{
    width: 30%;
    height: 30%;
    margin-top: 60px;
    margin-right: 400px;


}
}
